.quality-list-box {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgb(244, 244, 244);

  .quality-list-container-wrap {
    width: 100%;
    height: 100%;
    background: rgb(240, 242, 245);

    .quality-list-container {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 2;

      .quality-contetn {
        margin: 15px;
        padding: 25px;
        background: #fff;
        max-height: calc(100% - 180px);
        overflow: auto;
      }
    }
  }
}
