.header-list-box {
  z-index: 2;
  color: #333;
  height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 15px;
  margin-bottom: 5px;

  .logout-box {
    display: flex;
    align-items: center;

    .user-box {
      margin-right: 15px;
      display: flex;
      align-items: center;

      .user-name {
        margin-left: 5px;
      }
    }
  }

  .ant-btn.ant-btn-text {
    color: #333;

    &:hover {
      background: hsla(0, 0%, 100%, 0.3);
    }
  }
}